body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: #FFFFFF;
}

a {
	color: rgba(0, 0, 0, .5);
	text-decoration: none;
}

a:hover,
a:active {
	color: #212529;
	text-decoration: none;
}

.form-control:focus,
.form-control:active {
	border-color: #343A40;
	box-shadow: 0 0 0 .1rem rgba(20.4, 22.7, 25.1, .25);
}

.successful-message-sending {
	background: #C1DFC1;
	margin: 10px 0 18px 0;
	padding: 20px;
}

.failed-message-sending {
	background: #FF8080;
	margin: 10px 0 18px 0;
	padding: 20px;
}
  
#studentid,
#subject-grades-id {
	display: none;
}

.table-responsive img {
	cursor: pointer;
}